@charset "utf-8";

body { margin: 0; color: #222; font-family: sans-serif; font-size: 100%; font-weight: normal; line-height: normal; letter-spacing: -0.03125em; -webkit-text-size-adjust: none; }
body:before { position: fixed; left: 0; top: 0; width: 100%; height: 0; content: ''; } /* fix webkit bug(scroll event delay) */

div, span, p, strong, b, em, i, a, address,
h1, h2, h3, h4, h5, h6,
dl, dd, ul, ol,
button, input, select, label, table, th, td,
section, article, header, footer, aside, hgroup, menu, nav { box-sizing: border-box; }

strong, b, em, i, address, h1, h2, h3, h4, h5, h6, pre { font: inherit; }

h1, h2, h3, h4, h5, h6,
dl, dd,
input[type='radio'], input[type='checkbox'] { margin: 0; }

ul, ol { margin: 0; padding: 0; list-style: none; }

a { display: inline-block; color: inherit; text-decoration: none; }

iframe, img { border: 0; vertical-align: top; }

table { width: 100%; table-layout: fixed; border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

fieldset { margin: 0; padding: 0; border: 0; }
legend, caption { height:0; overflow: hidden; opacity: 0; }

button,
input[type='button'], 
input[type='submit'],
input[type='text'],
input[type='password'],
input[type='number'],
input[type='search'],
select, textarea { color: inherit; font: inherit; letter-spacing: inherit; }

button,
input[type='button'], 
input[type='submit'] { padding: 0; background-color: transparent; border: 0; cursor: pointer; }
input[type='text'],
input[type='password'],
input[type='number'],
input[type='search'] { padding: 0; background-color: transparent; border-width: 1px; border-style: solid; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear,
input[type=number]::-ms-clear,
input[type=search]::-ms-clear,
input[type='password']::-ms-reveal { display:none; }

