@charset "utf-8";

legend,
.hidden,
.hide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: 0 !important;
	padding: 0 !important;
}
em {
	font-weight: 500;
}
strong {
	font-weight: 900;
}
.primary-color {
	color: #019AF9;
}

/*** GAP ***/
.pdt-n {
	padding-top: 0 !important;
}
.pdb-n {
	padding-bottom: 0 !important;
}
.pdtb-n {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.mgb-n {
	margin-bottom: 0 !important;
}
.mgt-n {
	margin-top: 0 !important;
}
.mgt-xxs {
	margin-top: 0.4rem !important;
}
.mgt-xs {
	margin-top: 0.8rem !important;
}
.mgt-s {
	margin-top: 1.6rem !important;
}
.mgt-m {
	margin-top: 2.2rem !important;
}
.mgt-l {
	margin-top: 3.2rem !important;
}
.mgt-xl {
	margin-top: 4rem !important;
}
.mgt-xxl {
	margin-top: 4.8rem !important;
}
.mgt-xxxl {
	margin-top: 9.9rem !important;
}
.mgb-s {
	margin-bottom: 1.6rem !important;
}

/*** ALIGN ***/
.ta-c {
	text-align: center !important;
}
.ta-l {
	text-align: left !important;
}
.ta-r {
	text-align: right !important;
}

/*** HR(LINE) ***/
.hr-sec {
	width: 100%;
	height: 1rem;
	background: #ddd;
	border: 0;
	margin: 0.5rem 0;
}
.hr-cont {
	width: 100%;
	height: 0.1rem;
	background: #ddd;
	border: 0;
	margin: 1.4rem 0;
}

/*** LAYOUT ***/
.base-wrap {
	position: relative;
	z-index: 0;
}
.base-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 0;
}
.base-body {
	position: relative;
	width: 100%;
}
.base-main {
	position: relative;
	z-index: 0;
	width: 100%;
	padding: 4.8rem 2.4rem 2.4rem;
}
.base-footer {
	width: 100%;
	padding: 2rem 2.4rem 2.4rem;
}
.base-header + .base-body .base-main {
	padding-top: 8rem;
}
.base-header + .base-body > .bg-chkup{
	padding-top: 7rem;
	background-position: center top 38.4rem;
}
.is-scroll .base-body {
	position: static;
}
/* position */
.ps-bottom {
	position: absolute;
	bottom: 0;
	padding-bottom: 2.4rem;
}

/* header */
.header-wrap {
	position:relative;
	z-index: 2;
	width: 100%;
	padding: 2.8rem 2.4rem;
	margin: 0 auto;
	background-color: #fff;
}
.base-header::after{
	display: block;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 1;
	content:"";
}
.base-header.bg .header-wrap {
	padding: 0 2.4rem;
	background: #EDF8FF;
}
.base-header.bg .header-wrap .logo-xcarelink {
    height: 4rem;
}
.base-header.bg .logo-xcarelink img {
	width: 16.4rem;
	height: 4rem;
}

/*** TEXT STYLE ***/
p {
	line-height: 1.5;
}
.tit-wrap {
	margin: 0 0 3rem;
}
.tit-wrap .h-1,
.tit-wrap .h-2 {
	font-weight: 300;
}
.tit-wrap .h-1 strong,
.tit-wrap .h-2 strong {
	font-weight: 700;
}
.tit-wrap .h-1 + p {
	margin-top: 1.6rem;
}
.tit-wrap .h-2 + p {
	margin-top: 1.6rem;
}
.h-1 {
	color: #222;
	font-size: 3.0rem;
	font-weight: 900;
	letter-spacing: -0.145rem;
	line-height: 1.45;
	margin: 0;
}
.h-2 {
	color: #222;
	font-size: 2.4rem;
	font-weight: 700;
}
.h-3 {
	/* margin-bottom: 1.6rem; */
	color: #222;
	/* font-size: 2.2rem; */
	font-size: 2rem;
	font-weight: 500;
}
.h-4 {
	color: #222;
	font-size: 1.8rem;
	font-weight: 500;
}
[class*="h-"].m {
	font-weight: 500;
} 
[class*="h-"].b {
	font-weight: 700;
}
.fs-xs {
	font-size:1.2rem;
}
.fs-s {
	font-size:1.4rem;
}
.fs-m {
	font-size:1.6rem;
	line-height: 1.45;
}
.fs-l {
	font-size:1.8rem;
}
[class*="fs-"].m {
	font-weight: 500;
} 
[class*="fs-"].b {
	color: #222;
	font-weight: 700;
}
.title {
	font-size: 1.6rem;
}
.en-font {
	font-family: 'Roboto';
	letter-spacing: 0;
}

/*** FORM ***/
/* radio & checkbox reset */
input[type="radio"],
input[type="checkbox"] {
	opacity: 0;
	filter: alpha(opacity=0);
	display: inline-block;
	position: absolute;
	z-index: -1;
	vertical-align: top;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
}
/* chkbox */
.chkbox label:before {
	margin-right: .8rem;
}
.chkbox-label {
	color: #222;
	font-size: 1.6rem;
}
/* radio type(default) */
.radio input[type=radio] + .radio-label:before,
.chkbox input[type=checkbox] + .chkbox-label:before {
	position: absolute;
	top: 50%;
	left: 0;
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	text-align: center;
	vertical-align: top;
	background: url(../img/common/ico-chkbox.svg) no-repeat;
	background-size: 100%;
	cursor: pointer;
	transform: translateY(-50%);
	content: "";
}
.radio input[type=radio]:checked + .radio-label:before,
.chkbox input[type=checkbox]:checked + .chkbox-label:before {
  background-image: url(../img/common/ico-chkbox-on.svg);
}
.radio input[type=radio]:disabled + .radio-label:before,
.chkbox input[type=checkbox]:disabled + .chkbox-label:before {
  background-image: url(../img/common/ico-chkbox.svg);
  opacity: 0.5;
}
.radio input[type=radio] + .radio-label:empty:before,
.chkbox input[type=checkbox] + .chkbox-label:empty:before {
  margin-right: 0;
}

/* radio type(txt) */
[class*="radio-type-"] + [class*="radio-type-"] {
	margin-left: 1.2rem;
}

.radio-type-txt {
	width: calc(100% - .6rem)
}
.radio-type-txt > .radio {
  display: none;
}
.radio-type-txt > .radio-txt {
	display: inline-block;
	width: 100%;
	margin-right: .6rem;
	padding: 1.6rem 0 1.5rem;
	border: solid 1px #ddd;
	border-radius: 1rem;
	color: #ddd;
	font-size: 1.8rem;
	font-weight: 700;
	background: #fff;
	text-align: center;
	cursor: pointer;
}
.radio-type-txt .radio:checked ~ .radio-txt {	
    color: #019AF9;
    border-color: #019AF9;
}

/* radio type(img) */
.radio-type-emoji {
	width: calc(100% - .2rem);
	min-height: 7.4rem;
	margin: 0;
}
.radio-type-emoji + .radio-type-emoji {
	margin-top: 1.8rem;
}
.radio-type-emoji input[type=radio] + .radio-label {
	width: 100%;
}
.radio-type-emoji input[type=radio] + .radio-label > span {
	position: absolute;
	top: 2.3rem;
	left: 8.3rem;
	color: #222;
	font-size: 1.8rem;
	font-weight: 500;
}
.radio-type-emoji input[type=radio] + .radio-label:before {
	display: block;
	width: 100%;
	height: 6.8rem;
	padding: 0.2rem 0;
	background-size: 6.8rem;
	background-position: 1.3rem center;
	border: 1px solid #ddd;
	border-radius: 1.8rem;
}
.radio-type-emoji input[type=radio]:checked + .radio-label:before {
	color: #019AF9;	
	border-color: #019AF9;	
	box-shadow: .6rem .8rem 3.2rem rgba(1, 154, 249, 0.14);
}
.radio-type-emoji input[type=radio]:checked + .radio-label > span {
	color: #019AF9;
}
.radio-type-emoji.emoji1 input[type=radio] + .radio-label:before {
	background-image: url(../img/mo/ico-emoji-1.png);
}
.radio-type-emoji.emoji2 input[type=radio] + .radio-label:before {
	background-image: url(../img/mo/ico-emoji-2.png);
}
.radio-type-emoji.emoji3 input[type=radio] + .radio-label:before {
	background-image: url(../img/mo/ico-emoji-3.png);
}
.radio-type-emoji.emoji4 input[type=radio] + .radio-label:before {
	background-image: url(../img/mo/ico-emoji-4.png);
}
.radio-type-emoji.emoji5 input[type=radio] + .radio-label:before {
	background-image: url(../img/mo/ico-emoji-5.png);
}

/* input */
input.inp-base {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 6rem;
	padding: 0 1.7rem;
	outline: 0;
	margin: 0;
	color:#222;
	font-family:'Noto Sans KR';
	font-size: 1.8rem;
	font-weight: 700;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 1rem;
}
input.inp-base::-webkit-input-placeholder {
	color: #ddd;
	font-weight: 400;
}
select.inp-base {
	padding: 0 1rem;
}
.inp-base::-webkit-search-cancel-button {
	display: none;
}
.inp-base.error {
	border-color: #FF6262;
}

/*** FORM STYLE ***/
.form-wrap .fx-item + .fx-item {
	margin-left: 1rem;
}
.form-item {
	width: 100%;
	position: relative;
	display: inline-flex;
	padding: 0;
	vertical-align: top;
}
.form-item > * {
	vertical-align: top;
}
.form-label {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	min-height: 2.6rem;
	margin-bottom: 1rem;
	color: #222;
	font-size: 1.6rem;
	font-weight: 500;
}
.form-item-label {
	position: relative;
	top: 0;
	left: 0;
	color: #222;
	font-size: 1.6rem;
	font-weight: 500;
	transform: translate(0, 0);
	cursor: text;
}
.form-item .inp-base::-webkit-input-placeholder {
	color: #ddd;
}
.form-item .inp-base:-ms-input-placeholder {
	color: #ddd;
}
.form-item .inp-base::placeholder {
	color: #ddd;
}
.form-item .info {
	font-size: 1.4rem;
}
.form-wrap + .form-wrap {
	margin-top: 2.8rem;
}
.form-item + .from-info {
	margin-top: 1.2rem;
}
.form-item +.form-item {
	margin-top: 1.6rem;
}
.form-item > .fx-wrap {
	width: 100%;
}
.form-inbtn button {
	color: #666;
	font-size: 1.6rem;
	border-color: #ddd;
	border-width: .2rem;
}
.form-inbtn .fx-item:nth-child(2) {
	min-width: 12.8rem;
	max-width: 15rem;
}
.form-inbtn.validate .fx-item:nth-child(2) {
	min-width: 8.6rem;
	max-width: 9rem;
}
.form-inbtn.validate .valtime {
	position: absolute;
	top: 50%;
	right: 1.6rem;	
	font-family: 'Roboto';
	color: #FF6262;
	font-size: 1.4rem;
	transform: translateY(-50%);
}
.form-inbtn.validate .inp-base {
	padding-right: 7rem;
}
.form-inbtn.validate {
	display: none;
}
.form-inbtn.validate.show {
	display: block;
	transition: all 0.25s ease-in;
}

/*** BUTTON STYLE ***/
/* button wrap */
.btn-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.btn-wrap + .btn-wrap {
	margin-top: 1.6rem;
}
.btn-area {
	margin-top: 3rem;
}
.btn-area.step-toggle {
	margin-top: 1.6rem;
}
.btn-wrap [class*="btn-"] {
	flex: 1 auto;
}
.btn-wrap [class*="btn-"] + [class*="btn-"] {
	margin-left: 1rem;
}
.btn-wrap.stick [class*="btn-"] + [class*="btn-"] {
	margin-left: 0;
}
/* btnwrap positon */
.btn-wrap.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 0 2.4rem 2.4rem;
	margin: 0;
	background-color: #fff;
}
.btn-wrap.left {
	justify-content: flex-start;
}
.btn-wrap.center {
	justify-content: center;
}
.btn-wrap.right {
	justify-content: flex-end;
}
.btn-wrap.left [class*="btn-"],
.btn-wrap.center [class*="btn-"],
.btn-wrap.right [class*="btn-"] {
	flex: 0 0;
}
.btn-wrap.txta-r [class*="btn-base"] {
	margin-right: 0;
	margin-left: 1rem;
}

/* button */
[class*="btn-base"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 4rem;	
	padding: 0 1rem;
	border-radius: 1rem;
	color: #666;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
	vertical-align: top;
	background: #fff;
	text-decoration: none;
}
[class*="btn-base"] span {
	display: block;
	flex: 0 auto;
	text-align: center;
	line-height: 1;
}
[class*="btn-base"].text {
	color: #222;
	font-weight: 500;
	border: 0;
	background: transparent;
	box-shadow: none;
}
[class*="btn-base"].primary {
	color: #fff;
	font-weight: 700;
	border: 0;
	background-color: #019AF9;
}
[class*="btn-base"].text.primary {
	color: #fff;
	border: 0;
	background-color: #019AF9;
}
[class*="btn-base"].disabled,
[class*="btn-base"]:disabled {
	color: #fff;
	background: #ddd !important;
}
[class*="btn-base"].thick {
	border: 2px solid #ddd;
}
.btn-base-link {
	position: relative;
	min-height: 7.4rem;
	padding-left: 8.6rem;
	color: #222;
	font-size: 1.8rem;
	font-weight: 500;
	border: 1px solid #ddd;
	border-radius: 1.8rem;
	justify-content: flex-start;
}
.btn-base-link.on ,
.btn-base-link:focus {
	color: #019AF9;
	font-weight: 500;
	background: #fff;
	border-color: #019AF9;
	box-shadow: .6rem .8rem 3.2rem rgba(1, 154, 249, 0.14);
}

/* btn size */
.btn-base-s {
	min-height: 2.6rem;
	font-size: 1.4rem;
}
.btn-base-m {
	min-height: 4rem;
}
.btn-base-l {
	min-height: 6rem;
	border: 1px solid #ddd;
	font-size: 1.8rem;
}
.btn-base-l:focus {
	color: #fff;
	border: 1px solid #019AF9;
	background: #019AF9;
}
/* button type(icon) */
.btn-close {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.9rem;
	height: 1.9rem;
	background: url(../img/common/btn-close.svg) no-repeat;
	background-size: 100%;
	z-index: 3;
}
.btn-prev {
	display: flex;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
	background: url(../img/common/btn-prev.svg) no-repeat;
	background-size: contain;
}
.btn-kakao:before {
	position: absolute;
	top: 50%;
	left: 2.4rem;
	display: inline-block;
	width: 4.2rem;
	height: 4.2rem;
	background: url(../img/common/ico-kakaopay.png) no-repeat;
	background-size: 100%;
	transform: translateY(-50%);
	content: '';
}
.btn-phone:before {
	position: absolute;
	top: 50%;
	left: 2.4rem;
	display: inline-block;
	width: 4.2rem;
	height: 4.2rem;
	background: url(../img/common/ico-phone.png) no-repeat;
	background-size: 100%;
	transform: translateY(-50%);
	content: '';
}
.btn-pass:before {
	position: absolute;
	top: 50%;
	left: 2.4rem;
	display: inline-block;
	width: 4.2rem;
	height: 4.2rem;
	background: url(../img/common/ico-pass.png) no-repeat;
	background-size: 100%;
	transform: translateY(-50%);
	content: '';
}
.btn-skip .btn-base {
	justify-content: flex-end;
	min-height: 2rem;
	padding: 0 1.2rem 0 0;
	margin-right: 1.2rem;
	font-size: 1.4rem;
	font-weight: 500;
	background: url(../img/common/arr-right-black.svg) center right /100% no-repeat;
	background-size: .4rem .8rem;
	border-radius: 0;
}
.btn-remove {
	position: absolute;
	top: 1.8rem;
	right: 6.2rem;
	display: none;
	width: 2.3rem;
	height: 2.3rem;
	background: url(../img/common/ico-round-close.svg) center right /100% no-repeat;
}
.btn-more {
	padding: .3rem .6rem;
	color: #9E9E9E; 
	background: #F3F3F3;
	border-radius: .4rem;
}

/* highlight */
.highlight.text {
	min-height: 2.5rem;
	padding: 0;
	font-weight: 700;
}
.highlight {
	position: relative;
	color: #019AF9 !important;
	font-weight: 700;
	z-index: 1;
}
.highlight:before {
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: .8rem;
	background: #E5F5FF;
	border-radius: .1rem;
	z-index: -1;
	content: '';
}

/*** BOX ***/
.box-base {
	position: relative;
	width: 100%;
	padding: 2.4rem;
	background: #fff;
	border-radius: 2rem;
	box-shadow: 0 0.4rem 1.8rem rgba(195, 195, 195, 0.25);
}
.box-base + .from-info {
	margin-top: 1.2rem;
	font-size: 1.6rem;
}
.box-base .box-tit .h-3 strong {
	display: block;
	margin-top: .2rem;
	font-size: 2.4rem;
	font-weight: 700;
}
.box-base .box-tit >  p {
	margin-top: .6rem;
	color: #666;
	font-size: 1.4rem;
}

/* 상태값(위험 등급) */
.state {
	position: relative;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	text-align: center;
}
.state.state-1 {
	background-color: #4792EF;
}
.state.state-2 {
	background-color: #01D4E5;
}
.state.state-3 {
	background-color: #A1DE52;
}
.state.state-4 {
	background-color: #FFD600;
}
.state.state-5 {
	background-color: #FF6262;
}

/*** BULLET ***/
.bul-info,
.bul-error {
	position: relative;
	font-size: 1.4rem;
	padding-left: 2.2rem;
	line-height: 1.6;
}
.bul-info:before,
.bul-error:before {
	position: absolute;
	top: .1rem;
	left: 0;
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	margin-right: .8rem;
	content: '';
}
.bul-info {
	color: #8D8D8D;
}
.bul-error {
	color: #FF6262;
}
.bul-info:before {
	background: url(../img/common/bul-info.svg) center/100% no-repeat;
}
.bul-error::before {
	background: url(../img/common/bul-error.svg) center/100% no-repeat;
}

/*** LAYOUT FLEX ***/
.form-wrap .fx-wrap + .fx-wrap {
	margin-top: 2.4rem;
}
.fx-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: single;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.fx-wrap + .fx-wrap {
	margin-top: 1.6rem;
}
.fx-wrap.fx-item+.fx-wrap.fx-item {
	margin-top: 0;
}
.fx-wrap.space .fx-item+.fx-item {
	margin-left: .8rem;
}
.fx-wrap[data-wrap="wrap"] {
	flex-wrap: wrap;
}
.fx-wrap[data-dir="row"] {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.fx-wrap[data-dir="rev"] {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.fx-wrap[data-dir="col"] {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}
.fx-wrap[data-dir="revcol"] {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.fx-line {
	-webkit-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.fx-wrap[data-align="left"] {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.fx-wrap[data-align="right"] {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.fx-wrap[data-align="center"] {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.fx-wrap[data-align="justify"] {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.fx-wrap[data-valign="top"] {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.fx-wrap[data-valign="bottom"] {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.fx-wrap[data-valign="center"] {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.fx-wrap[data-valign="stretch"] {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.fx-wrap[data-valign="baseline"] {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.fx-item[data-order="1"] {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	order: 1;
}
.fx-item[data-order="2"] {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	order: 2;
}
.fx-item[data-order="3"] {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	order: 3;
}
.fx-item[data-order="4"] {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 4;
	order: 4;
}
.fx-item[data-order="5"] {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 5;
	order: 5;
}
.fx-item[data-flex^="0-"] {
	flex: 0 0;
}
.fx-item,
.fx-item[data-flex^="1-"] {
	flex: 1 1;
}
.fx-item[data-flex^="2-"] {
	flex: 2 2;
}
.fx-item[data-flex^="3-"] {
	flex: 3 3;
}
.fx-item[data-flex^="4-"] {
	flex: 4 4;
}
.fx-item[data-flex^="5-"] {
	flex: 5 5;
}
.fx-item[data-flex^="6-"] {
	flex: 6 6;
}
.fx-item[data-flex^="7-"] {
	flex: 7 7;
}
.fx-item[data-flex^="8-"] {
	flex: 8 8;
}
.fx-item[data-flex^="9-"] {
	flex: 9 9;
}
.fx-item[data-flex^="10-"] {
	flex: 10 10;
}
.fx-item[data-flex^="11-"] {
	flex: 11 11;
}
.fx-item[data-flex^="12-"] {
	flex: 12 12;
}

/*** progress (bar) ***/
progress {
  -webkit-appearance: none;
}
::-webkit-progress-bar {
  background-color: #F3F3F3;
}
::-webkit-progress-value {
  background-color: #019AF9;
}
.progress-base {
	border-radius: 0;
	width: 100%;
	height: 1rem;
}
.progress-base.fixed {
	position: fixed;
	top: 0;
	right: 0;	
}
.progress {
	position:relative;
	width: 100%;
	height: 1rem;
	border-radius: .5rem;
	background-color: #F3F3F3;
}

/* progress (circle) */
.circle-progress {
	position: relative;
	width: 19.4rem;
	height: 19.4rem;
	margin: 0 auto;
}
.circle-progress-value {
	stroke-width: 0.7rem;
	stroke-linecap: round;
	stroke: #019AF9;
}
.circle-progress-circle {
	stroke-width: 0.7rem;
	stroke: #fafafa;
}
.circle-progress-text {
	position: absolute;
	bottom: 0;
	fill: #222;
	font-family: 'Roboto';
	font-size: 3.2rem;
	font-weight: 700;
}
.result-graph .circle-progress-circle {
	stroke-width:1rem;
	stroke: #fafafa;	
}
.result-graph .circle-progress-value {
	stroke-width: 1rem;
	stroke-linecap: round;
	stroke: rgb(255, 98, 98);
	/* -webkit-filter: drop-shadow(.8rem .9rem 2.4rem rgba(255, 98, 98, .31));
  	filter: drop-shadow(.8rem .9rem 2.4rem rgba(255, 98, 98, .31)); */
}

/* progressbar */
.ui-progressbar .progress-cont {
	width: 100%;
	height: .8rem;
	background-color: #F3F3F3;
}
.ui-progressbar .ui-progressbar-item {
	position: absolute;
	width:0;
	left: 0;
	height: 100%;
	border-radius:5px;
	transition: width 0.4s ease-out;
	transition-delay: 0.5s;
}
.ui-progressbar .progress-cont {
	position: relative;
	margin: 1rem;
	overflow: hidden;
	border-radius: .5rem;
}
.ui-progressbar.state-1 .ui-progressbar-item {
	background: #4792EF;
}
.ui-progressbar.state-2 .ui-progressbar-item {
	background: #01D4E5;
}
.ui-progressbar.state-3 .ui-progressbar-item {
	background: #A1DE52;
}
.ui-progressbar.state-4 .ui-progressbar-item {
	background: #FFD600;
}
.ui-progressbar.state-5 .ui-progressbar-item {
	background: #FF6262;
}

/*** IMG SIZE ***/
.img-wrap {
	text-align: center;
}
.img-l {
	width: 9.4rem;
	height: 9.4rem;
}
.img-m {
	width: 6.4rem;
	height: 6.4rem;
}
.img-s {
	width: 4.8rem;
	height: 4.8rem;
}
.img-xs {
	width: 2.4rem;
	height: 2.4rem;
}

/*** [COMMON] UI-MODAL ***/
.ui-modal-header .btn-close {
	position: absolute;
	top: 2.7rem;
	right: 2.4rem;
}
.ui-modal.bg .ui-modal-header {
	background: #019AF9;
	padding: 2.6rem 3em 2.4rem;
	/* box-shadow: 0 0 1.5rem #019AF9; */
	z-index: 2;
}
.ui-modal.bg .ui-modal-header .ui-modal-tit {
	color: #fff;
	font-size: 1.6rem;
	text-align: center;
}
.ui-modal.bg .ui-modal-header .btn-close {
	right: 3rem;
	background-image: url(../img/common/btn-close-white.svg);
}
.ui-modal.bg .ui-modal-body {
	padding: 0;
	background: #F1F8FD;
}
.ui-modal.bg .ui-modal-body:before {
	display: block;
	position: fixed;
	width: 100%;
	height: 5rem;
	background: #019AF9;
	content: '';
}

.ui-modal .ui-modal-tit:focus {
	outline: 0;
	border: 0;
}
.ui-modal .btn-wrap + .fx-wrap > p {
	min-width: 80%;
}
.ui-modal .bul-wrap + .btn-wrap {
	margin-top: 2.8rem;
}
.ui-modal .form-wrap + .bul-wrap {
	margin-top: 1.6rem;
}
.ui-modal.type-system .ui-modal-wrap {
	max-width: 100%;
	width: 100%;
}
.ui-modal.ps-bottom {
	padding: 0;
}
.ui-modal.ps-bottom .ui-modal-body {
    max-width: 100% !important;
}
.ui-modal.open.ps-bottom .ui-modal-wrap {
    bottom: 0;
    border-radius: 2.4rem 2.4rem 0 0;
    overflow: hidden;
}
/* layer popup (full) */
.type-full .ui-modal-header {
	padding-top: 4.8rem;
}
.type-full .ui-modal-body {
	padding: .8rem 2.4rem 3.6rem;
}
.type-full .desc {
	font-size: 1.4rem;
}
.modal-tit h3 {
	color: #222;
	font-size: 1.6rem;
	font-weight: 700;
}
.modal-tit .btn-close {
	position: absolute;
	right: 0;
}
.step-toggle[data-toggle="hide"],
.step-toggle.hide{display: none;}
.step-toggle.show{display: block;}
.ui-acco {
	padding-top: .3rem;
	margin-bottom: 3.2rem;
}
.ui-chkgroup .ui-acco-btn {
	position: absolute;
	padding: 0;
	width: 2.5rem;
	min-height: 2.4rem;
}
.ui-chkgroup .ui-acco-btn:after {
	top: 0;
	right: 0;
	width: 2rem;
	height: 2.4rem;
	margin-top: 0;
	background: url(../img/common/arr-bottom.svg) center no-repeat;
	background-size: 1.6rem;
	content: '';
}
.ui-chkgroup .ui-acco-btn[aria-expanded="true"]:after {
	top: -.2rem;
	background-image: url(../img/common/arr-top.svg);
	content: '';
}


/* small device 대응 */
@media all and (max-width:360px) {
	.from-info .bul-info {
		display: inline-block !important;
		padding-left: 2.4rem !important;
	}
	.from-info .bul-info:before {
		position: absolute;
		left: 0;
	}
	.from-info div > .br{
		display: none;
	}
}

/*scrollbar*/
.ui-modal .scroll,
.scroll {
    overflow-y: auto;
}

.ui-modal .scroll::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
    width: .6rem;
    border-radius: .4rem;
}

.ui-modal .scroll.custom::-webkit-scrollbar-track,
.scroll.custom::-webkit-scrollbar-track {
    background: #fafafa;
    border-radius: .4rem;
}

.ui-modal .scroll.custom::-webkit-scrollbar-thumb,
.scroll.custom::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: .4rem;
}

/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.scroll {
		scrollbar-width: thin;
		scrollbar-face-color: #ddd;
		scrollbar-track-color: #fafafa;
		scrollbar-arrow-color: #f1f1f1;
		scrollbar-highlight-color: #fafafa;
		scrollbar-3dlight-color: none;
		scrollbar-shadow-color: #fafafa;
		scrollbar-darkshadow-color: none;
	}   
}

/* Firefox scrollbar */
.scroll{
  scrollbar-width: thin;
  scrollbar-color: #ddd #fafafa;
}

/* loading-spinner */
.loading-spinner-wrap {
	margin: 7.7rem auto 0;
	text-align: center;
}
.loading-spinner {
    position: relative;
    display:inline-block;
    overflow:hidden;
    height: 194px;
    width: 194px;
    border-radius: 50%;  
    background: none repeat scroll 0 0 #F7F7F7;
}
.loading-spinner:after {
	position: absolute;
    top: 50%; 
	left: 50%;
    display: block;
    width: 170px;
	height: 170px; 
    border-radius: 50%;
	background: #fff url(../img/common/progress-emoji-1.png) center no-repeat;
	background-size: 11.2rem;
	transform: translate(-50%, -50%);
    content: "";
}
.loading-spinner > span {
    position: absolute;
    width: 50%;
	height: 100%; 
    overflow: hidden;
}
.loading-spinner .left  { 
	left: 0 
}
.loading-spinner .right { 
	left: 50% 
}
.loading-spinner .spin {
    position: absolute;
    top: 0;
	left: 100%; 
    height: 100%; 
	width: 100%;
    border-radius: 99.9rem;
    background: none repeat scroll 0 0 #019AF9;
    transform-origin: 0 50% 0;
    animation: ui-spinner-rotate-left 2s infinite;
	animation-duration: 2s;
	animation-timing-function: linear;
}
.loading-spinner .left .spin {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.loading-spinner .right .spin {
    left: -100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transform-origin: 100% 50% 0;
	animation-name: ui-spinner-rotate-right;
	animation-delay: 1s;
}

@keyframes ui-spinner-rotate-right{
  0%{
	  transform:rotate(360deg)
	}
  25%{
	  transform:rotate(180deg)

	}
  50%{
	  transform:rotate(180deg)
	}
  75%{
	  transform:rotate(0deg)
	}
  100%{
	  transform:rotate(0deg)
	}
}

@keyframes ui-spinner-rotate-left{
  0%{
	  transform:rotate(360deg)
	}
  25%{
	  transform:rotate(360deg)
	}
  50%{
	  transform:rotate(180deg)
	}
  75%{
	  transform:rotate(180deg)
	}
  100%{
	  transform:rotate(0deg)
	}
}

/* spinner2 */
.spinner-wrap {
	position: relative;
	margin: 17.4rem auto 0;
}
.spinner.spinner--active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1rem solid #F7F7F7;
  border-top-color: #019AF9;
  border-radius: 50%;
  width: 17.4rem;
  height: 17.4rem;
  margin-top: -9.7rem;
  margin-left: -9.7rem;
  animation: rotate 1s linear infinite;
  z-index: 999;
}
.spinner {
	position: relative;
}
.spinner-wrap .emoji{
	position: absolute;
	top:50%;
	left:50%;
	width: 17.4rem;
	height: 17.4rem;
	background: url(../img/common/progress-emoji-1.png) center no-repeat;
	background-size: 11.2rem;
	transform: translate(-50%, -50%);
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


