@charset "utf-8";

/* root */
:root {
	/* color system */
	--black:#000000;

	--gray900:#222222;	/*헤드라인 텍스트*/
	--gray800:#666666;	/*본문 텍스트, button-text*/
	--gray700:#8D8D8D;	/*서브 텍스트, label, button-line*/
	--gray600:#757575;	/*disabled 텍스트, input-placeholder, table-line[dark]*/
	--gray500:#9E9E9E;	/*input-bg-acitve*/
	--gray400:#BDBDBD;	
	--gray300:#E0E0E0;	/*box-line[dark]*/
	--gray200:#DDDDDD;	/*box-line, input-line, table-line*/
	--gray100:#F3F3F3;	/*table-thead-th-bg*/

	--white:#ffffff;	/*input-bg, box-bg, table-td-bg, button-bg*/
	
	--primary: #019AF9; 	/*button-bg-primary, button-line-primary*/
	--secondary: #01D4E5;
	--error: #FF6262;
	--success: #3182f6;
	--link: #6296df;

	/*table*/
	--gray600-table:#757575;	/*table-line[dark]*/
	--gray200-table:#EEEEEE;	/*table-line*/
	--gray100-table:#F5F5F5;	/*table-thead-th-bg*/
	--gray50-table:#FAFAFA;	/*table-tbody-th-bg*/
	--white-table:#ffffff;	/*table-td-bg*/

	/*selectbox*/
	--select-line:#212121;
	--select-bg:#fff;
	--select-opt:#212121;
	--select-opt-bg:#fff;
	--select-opt-line:#F5F5F5;
	--select-current-bg:#EEEEEE;
	--select-current:#000;
	--select-tit:#fff;	
	--select-tit-bg:#212121;

	/*button*/
	--button-primary: #019AF9; /*button-bg-primary, button-line-primary*/
	--button-txt: #666666;/*button-text*/
	--button-line:#DDDDDD;
	--button-active:#019AF9;
	--button-bg:#ffffff;
	--button-pointbg:#F2F7FF;

	/* text size */
	--text-xxl: 3.0rem;
	--text-xl: 2.4rem;
	--text-l: 2.2rem;
	--text-m: 1.8rem;
	--text-s: 1.6rem;
	--text-xs: 1.4rem;
	--text-xxs: 1.2rem;

	/* etc */
	--shadow: rgba(0,0,0,0.06);

	/* code */
	--code-bg: #212121;
	--code-text: #FAFAFA;
}

:root.ui-m {
	/* text size */
	--text-xxl: 3.0rem;
	--text-xl: 2.4rem;
	--text-l: 2.2rem;
	--text-m: 1.8rem;
	--text-s: 1.6rem;
	--text-xs: 1.4rem;
	--text-xxs: 1.2rem;
}