@charset "utf-8";

/* layout */
.base-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 0;
}

.base-body {
	position: relative;
	width: 100%;
}

.base-main {
	position: relative;
	z-index: 0;
	width: 100%;
	padding: 9rem 2.4rem 14rem;
}

.base-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 2rem 3rem;
	background-color: var(--white);
}

/* header */
.header-wrap {
	position:relative;
	width: 100%;
	padding: 4rem 3rem 3rem;
	margin: 0 auto;
	font-size: 0;
	z-index: 2;
	background-color: var(--white);
}

.base-header::after{
	display: block;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 1;
	content:"";
}

/* typo */
p {
	line-height:1.5;
}

.tit-wrap {
	margin: 0 0 4.6rem;
}

.tit-wrap p {
	margin-top: 2.4rem;
}

/* heading */
.h-1 {
	color: var(--gray900);
	font-size: var(--text-xxl);
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}

.h-2 {
	color: var(--gray900);
	font-size: var(--text-xl);
	font-weight: 700;
	/* margin: 0 0 1.6rem; */
}

.h-3 {
	color: var(--gray900);
	font-size: var(--text-l);
	font-weight: 700;
	/* margin: 3.2rem 0 0.8rem; */
}

.h-4 {
	font-size: var(--text-m);
	font-weight: 700;
	/* margin: 1.6rem 0 0.8rem; */
}

.h-5 {
	font-size: var(--text-s);
	font-weight: 500;
	margin: 1.2rem 0 0.8rem;
}

.h-6 {
	font-size: var(--text-xs);
	font-weight: 500;
	margin: 1.2rem 0 0.4rem;
}

/* text */
.fs-s {
	font-size:var(--text-xs);
}
.fs-m {
	font-size:var(--text-s);
}
.fs-l {
	font-size:var(--text-m);
}

[class*="fs-"] b{
	font-weight:700;
}

.title {
	font-size: var(--text-s);
}

/*splash*/
.base-splash {
	width: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	background: var(--white);
}
.base-splash:after {
	position: absolute;
	right: 4rem;
	bottom: 15vh;
	display: inline-block;
	width: 15.4rem;
	height: 17.4rem;
	background: url(../img/bg-splash-obj.png) center/100% no-repeat;
	content: '';
}
.base-splash .base-body {
	height: 100%;
	min-height: 100vh;
	padding: 0 2.4rem;
}
.base-splash .base-main {
	height: 100%;
	padding: 6.7vh 0 0;
}

.base-splash .logo img {
	width: 9.5rem;
	height: 2.4rem;
}
.base-splash .tit-wrap {
	padding-top: 10vh;
}
.base-splash .tit-wrap .h-2 {
	font-size: var(--text-xxl);
	font-weight: 400;
}
.base-splash .tit-wrap p {
	margin-top: 3.2rem;
}

/* bg img setting */
.base-main.bg-chkup-1 {
	min-height: 100%;
	background: url('../img/bg-chkup-1.png') right 4rem bottom 15vh no-repeat;
	background-size: 15.4rem 17.4rem;
}

/* 카카오 인증 */
.kakao-process {
	margin: 3.3rem 0 3.8rem;
}
.kakao-process .img-wrap {
	position: relative;
	text-align: center;
}
.kakao-process .img-wrap img {
	width: 6.8rem;
	height: 6.8rem;
}
.kakao-process .img-wrap:before {
	position: absolute;
	left: 0;
	top: 3rem;
	display: inline-block;
	width: 0.6rem;
	height: 1.2rem;
	background: url(../img/common/arr-right.svg) no-repeat;
	background-size: 100%;
	content: '';
}
.kakao-process .img-wrap:first-child:before {
	display: none;
} 
.kakao-process .img-wrap span {
	display: block;
	margin-top: 1.2rem;
	color: var(--gray900);
	font-size: var(--text-xs);
}
.form-tel .radio.radio-type-txt input[type=radio] + .radio-label:before {
	width: 7rem;
}

/* modal detail style */
.sc-modal .btn-wrap + .fx-wrap > p {
	width: calc(100% - 6rem);
}
.sc-modal .btn-skip {
	width: 6rem;
}
.sc-modal .btn-skip .btn-base {
	justify-content: flex-end;
	min-height: 2rem;
	font-size: var(--text-xs);
	font-weight: 500;
	background: url(../img/common/arr-right-black.svg) center right /100% no-repeat;
	background-size: 4px 8px;
}