@charset "utf-8";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.9);
        visibility: hidden;
    }
}

@keyframes slideDownIn {
    0% {
        display: block;
        opacity: 0;
    }

    1% {
        top: -10rem;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slideDownOut {
    0% {
        top: 0;
        opacity: 1;
    }

    99% {
        top: -10rem;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes slideUpIn {
    0% {
        display: block;
        opacity: 0;
        z-index: 0;
        top: auto;
    }

    1% {
        bottom: -10rem;
        opacity: 0;
        top: auto;
    }

    100% {
        bottom: 0;
        opacity: 1;
        top: auto;
    }
}

@keyframes slideUpOut {
    0% {
        bottom: 0;
        opacity: 1;
    }

    99% {
        bottom: -10rem;
        opacity: 0;
    }

    100% {
        opacity: 0;
        bottom: -10rem;
        visibility: hidden;
    }
}

@keyframes slideLeftIn {
    0% {
        display: block;
    }

    1% {
        left: -10rem;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideLeftOut {
    0% {
        left: 0;
        opacity: 1;
    }

    99% {
        left: -10rem;
        opacity: 0;
    }

    100% {
        left: -10rem;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slideRightIn {
    0% {
        display: block;
    }

    1% {
        right: -10rem;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes slideRightOut {
    0% {
        right: 0;
        opacity: 1;
    }

    99% {
        right: -10rem;
        opacity: 0;
    }

    100% {
        right: -10rem;
        opacity: 0;
        visibility: hidden;
    }
}

/* ui-acco : base */
.ui-acco {
    position: relative;
}

.ui-acco-wrap {
    position: relative;
}

.ui-acco-tit {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui-acco-btn {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

a.ui-acco-btn {
    display: inline-block;
    text-decoration: none;
}

.ui-acco-pnl {
    position: relative;
    visibility: visible;
    transition: height .3s ease;
    height:auto;
    overflow: hidden;
}
.ui-acco-pnl[aria-hidden="true"] {
    visibility: visible;
    height: 0;
    transition: height .3s ease;
}

.ui-acco-tit-wrap {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.ui-acco-tit-wrap+.ui-acco-btn {
    position: absolute;
    color: transparent;
    overflow: hidden;
    font-size: xx-small;
    line-height: 0;
}

.ui-acco {
    margin: 0;
}

.ui-acco-wrap {
    width: 100%;
    padding: 0;
    margin: 0;
}

.ui-acco-tit {
    width: 100%;
    height: 100%;
    margin: -1px 0 0;
    padding: 0 0 1.8rem;
    border-bottom: 1px solid #ddd;
    background: #fff;
    min-height: 2.4rem;
}

.ui-acco-tit-wrap {
    width: auto;
    text-decoration: none;
    color: #ddd;
}

.ui-acco-btn {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px 40px 10px 10px;
    letter-spacing: 0;
    text-align: left;
    color: #666;
    font-size: 1.6rem;
}

.ui-acco-btn:after {
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    width: 18px;
    height: 20px;
    float: right;
    overflow: hidden;
    color: #666;
    font-size: 20px;
    line-height: 1;
}

.ui-acco-btn[aria-expanded="true"]:after {
    content: "keyboard_arrow_up";
}

a.ui-acco-btn {
    text-decoration: underline;
    color: blue
}

a.ui-acco-btn .ui-acco-arrow {
    transform: rotate(-90deg);
}

a.ui-acco-btn:after {
    content: "keyboard_arrow_right";
}

.ui-acco-pnl {
    background: var(--gray50);
}

.ui-acco-tit-wrap {
    padding: 10px;
    text-decoration: none;
    color: #000;
}

/* ui modal : base */
.scroll-no {
    overflow: hidden;
    padding-right: 1.7rem;
}

.ui-modal.n1 {
    z-index: 201;
}

.ui-modal.n2 {
    z-index: 202;
}

.ui-modal.n3 {
    z-index: 203;
}

.ui-modal.n4 {
    z-index: 204;
}

.ui-modal.n5 {
    z-index: 205;
}

.ui-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
}

.ui-modal.ready {
    display: flex;
    overflow-y: hidden;
}

.ui-modal.ready .ui-modal-dim {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .6);
}
.ui-modal.open .ui-modal-dim{
    opacity: 1;
}
.ui-modal.ps-center.is-over {
    align-items: flex-start;
}

.ui-modal.ps-center.is-over .ui-modal-wrap {
    margin: 20px 0;
}

.ui-modal.ps-center {
    justify-content: center;
    align-items: center;
}

.ui-modal.ps-top {
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.ui-modal.ps-bottom {
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.ui-modal-wrap {
    position: relative;
    max-width: 90rem;
    width: 100%;
    opacity: 0;
    z-index: 1;
    margin: 0 2.4rem;
    background: #fff;    
}
.ui-modal.open .ui-modal-wrap{
    opacity: 1;
}
.type-full .ui-modal-wrap,
.size-mobile .ui-modal.ps-top .ui-modal-wrap,
.size-mobile .ui-modal.ps-bottom .ui-modal-wrap {
    margin: 0;
    width: 100%;
}

.ui-modal.ps-top .ui-modal-wrap {
    margin-top: 1rem;
}

.ui-modal.ps-bottom .ui-modal-wrap {
    margin-bottom: 1rem;
}

.ui-modal.ready.open {
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.ready.close {
    animation-name: fadeOut;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.type-full.open.ps-center .ui-modal-wrap {
    animation-name: slideUpIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.type-full.close.ps-center .ui-modal-wrap {
    animation-name: slideUpOut;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.ui-modal.open.ps-center .ui-modal-wrap {
    animation-name: scaleIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.close.ps-center .ui-modal-wrap {
    animation-name: scaleOut;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.close.ps-top .ui-modal-wrap {
    animation-name: slideDownOut;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.open.ps-top .ui-modal-wrap {
    animation-name: slideDownIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.close.ps-bottom .ui-modal-wrap {
    animation-name: slideUpOut;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.open.ps-bottom .ui-modal-wrap {
    animation-name: slideUpIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.close.ps-center.type-system .ui-modal-wrap {
    animation-name: slideDownOut;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ui-modal.open.ps-center.type-system .ui-modal-wrap {
    animation-name: slideDownIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.ie9 .ui-modal.open {
    display: block;
}

.ie9 .ui-modal.open .ui-modal-wrap {
    opacity: 1;
    margin: 0 auto;
    transform: translate(0, -50%);
    top: 50%
}

.ui-modal.type-system .ui-modal-wrap {
    width: auto;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 2rem;
    overflow: hidden;
}
.ui-modal.type-system .ui-modal-body {
    padding: 3.6rem 2.4rem 2.8rem;
}
.ui-modal.type-system .ui-modal-body,
.ui-modal.type-system .ui-modal-footer {
    background: #fff;
    color: #222;
    max-width:100% !important;
}
.ui-modal.type-system .ui-modal-footer {
    padding: 0 2.4rem 2.6rem;
}
.ui-modal.type-system .ui-modal-wrap p {
    color: #666;
}

.ui-modal.type-system .ui-modal-wrap strong {
    display: block;
    margin-bottom: .8rem;
    color: #222;
    font-size: 1.8rem;
    font-weight: 700;
}
.ui-modal.type-system .ui-modal-wrap .btn-wrap [class*="btn-base"] {
    min-height: 6rem;
    font-size: 1.8rem;
}

.ui-modal-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 2.4rem 1rem; 
    background: #fff;    
}

.ui-modal-header h1 {
    color: #222;
   	font-size: 2.4rem;
	font-weight: 700;
    letter-spacing: -0.07rem;
}
.ui-modal-body {
    position: relative;
    margin-top: 0;
    padding: 1.4rem 2.4rem 2.4rem;
    background: #fff;
}

.ui-modal-footer {
    position: relative;
    margin-top: 0;
    padding: 0 2.4rem 3.6rem;
    background: #fff;
}

.ui-modal-footer .btn-wrap {
    margin: 0;
}

.ui-m .scroll-no {
    overflow: hidden;
    padding-right: 0;
}

/* .ui-m .ui-modal-wrap {
    margin: 2rem;
} */

.ui-m .ui-modal.ps-top .ui-modal-wrap {
    margin-top: 0;
}

.ui-m .ui-modal.ps-bottom .ui-modal-wrap {
    margin-bottom: 0;
}

.ui-m .ui-modal.type-full.ps-center {
    justify-content: center;
    align-items: flex-start;
}

.ui-m .ui-modal.type-full .ui-modal-wrap {
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    left: 0;
    top: auto;
    bottom: -10vh;
    transition: opacity 0.2s ease-in, bottom 0.2s ease-in;
    overflow: hidden;
    border-radius: 0;
    opacity: 0;
}

.ui-m .ui-modal.open.type-full .ui-modal-wrap {
    bottom: 0;
    opacity: 1;
    top: auto;
}

.ui-m .ui-modal.ps-top .ui-modal-wrap,
.ui-m .ui-modal.ps-bottom .ui-modal-wrap {
    margin: 0;
}

.ui-m .ui-modal.open.ps-top .ui-modal-wrap {
    top: 0;
}
.ui-m .ui-modal.ps-center.is-over .ui-modal-wrap {
    margin: 0;
}

/* ui scroll bar : base */
.ui-scrollbar {
    position: relative;
    overflow: auto;
}

.ui-scrollbar-item {
    position: absolute;
    top: 0;
    left: 0;
}

.ui-scrollbar.ready.view-y .ui-scrollbar-item.scroll-y-padding {
    width: calc(100% - 1rem) !important;
}

.ui-scrollbar.ready.view-x .ui-scrollbar-item.scroll-x-padding {
    height: calc(100% - 1rem) !important;
}

.ui-scrollbar.ready {
    overflow: hidden !important;
    padding: 0 !important;
}

.ui-scrollbar.ready>.ui-scrollbar-item {
    position: relative;
    width: 100%;
    height: 100% !important;
    overflow: scroll !important;
}

.ui-scrollbar.ready>.ui-scrollbar-item {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ui-scrollbar.ready>.ui-scrollbar-item::-webkit-scrollbar {
    display: none;
}

.ui-scrollbar.ready .ui-scrollbar-item::-webkit-scrollbar,
.ui-scrollbar.ready .ui-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.ie .ui-scrollbar.ready>.ui-scrollbar-item {
    width: calc(100% + 1.7rem) !important;
    height: calc(100% + 1.7rem) !important;
}

.ui-scrollbar-barwrap {
    opacity: 0;
}

.ui-scrollbar-barwrap.type-y {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 100;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
}

.ui-scrollbar-barwrap.type-x {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: rgba(255, 255, 255, 0.1);
    z-index: 100;
    border-left: .2rem solid transparent;
    border-right: .2rem solid transparent;
}

.type-y .ui-scrollbar-bar {
    position: absolute;
    top: 0;
    right: .2rem;
    width: .6rem;
    margin: 0;
    height: 2rem;
    background: var(--gray300);
    opacity: 0.5;
    border-radius: .2rem;
}

.type-x .ui-scrollbar-bar {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 2rem;
    margin: 0;
    height: 6px;
    background: var(--gray300);
    opacity: 1;
    border-radius: .2rem;
    opacity: 0.5;
}

.ui-scrollbar:hover .ui-scrollbar-bar {
    opacity: 1;
    box-shadow: 0 0 .5rem rgba(--shadow);
}

.view-scrollbar>.ui-scrollbar-barwrap {
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.view-y>.ui-scrollbar-barwrap.type-y {
    display: block;
}

.view-x>.ui-scrollbar-barwrap.type-x {
    display: block;
}


/* ui scroll box : base */
.ui-parallax-wrap {
    position: relative;
}

/* tab */
.ui-tab {
	position: relative;
	margin: 0
}

.ui-tab-btns.ui-scrollbar .btn-wrap {
	overflow-x: initial;
}

.ui-tab-btns .btn-wrap {
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	overflow-x: auto;
}

.ui-tab-btns {
	position: relative;
	overflow: hidden;
	z-index: 1
}

.ui-tab-btns:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	clear: both;
	width: 100%;
	height: 1px;
	background: #ddd;
}

.ui-tab-btn {
	box-sizing: border-box;
	float: left;
	position: relative;
	z-index: 0;
	flex: 1;
	white-space: nowrap;
}

.ui-tab-btn.selected {
	z-index: 2;
}

.ui-tab-pnls {
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

.ui-tab-pnl {
	box-sizing: border-box;
	top: 0;
	left: 0;
}

.ui-tab-pnl,
.ui-tab-pnl[aria-hidden='true'] {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	display: none
}

.ui-tab-pnl.selected,
.ui-tab-pnl[aria-hidden='false'] {
	visibility: visible;
	position: relative;
	opacity: 1;
	z-index: 1;
	display: block
}

/* ui-tab :base style */
.ui-tab-btn {
	padding: 0 1rem;
	min-height: 4rem;
	border: 1px solid #ddd;
	border-left: 0;
}

.ui-tab-pnl {
	width: 100%;
	padding: 1rem;
	background: #fff;
}

/* ui-tab : eff */
.ui-tab.eff-fade>.ui-tab-pnls>.ui-tab-pnl {
	animation-name: fadeIn;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.ui-tab.eff-fade>.ui-tab-pnls>.ui-tab-pnl[aria-hidden="false"] {
	animation-name: fadeIn;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

/* ui count */
.ui-count {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.ui-count>div {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.ui-count-og {
    display: inline-block;
    position: relative;
    top: 0;
}

.ui-count-num {
    position: absolute;
    top: 0;
}

.ui-count-num span {
    display: block;
}

/* */
.toast {
    width:calc(100% - 2rem);
    padding:1rem;
    color:#fff;
    background:var(--primary);
    position:fixed;
    left:0;
    margin:1rem;
    font-size:1.2rem;
    transition: all .3s;
}

.ui-toast-ready .toast{
    display:block;
    opacity: 0;
    bottom:-10rem;
}

.ui-toast-show .toast{
    opacity: 1;
    bottom: 0;
}

.ui-toast-ready .toast.top{
    display:block;
    opacity: 0;
    bottom:auto;
    top:-10rem;
}

.ui-toast-show .toast.top{
    opacity: 1;
    bottom:auto;
    top: 0;
}

/* focus loop */
[class*="ui-focusloop-"]:focus {
    height: auto;
}

[class*="ui-focusloop-"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}

[class*="ui-focusloop-"] span {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.ui-focusloop-start {
    top: 0;
}

.ui-focusloop-end {
    bottom: 0;
}
