@charset "utf-8";

/* 스플래시 화면 */
.base-splash {
	width: 100%;
	height: 100%;
	background: #fff;
}
.base-splash .base-body {
	height: 100%;
	overflow: hidden;
}
.base-splash .base-body:after {
	position: absolute;
	right:-10rem;
	bottom: 6.9rem;
	opacity: 0;
	display: block;
	width: 15.4rem;
	height: 17.4rem;
	background: url(../img/mo/bg-splash-obj.png) center/100% no-repeat;
	animation-name: slideRightIn;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	content: '';
}
@keyframes slideRightIn {
    0% {
		bottom: 6.9rem;
		right: -10rem;
		opacity: 0;
    }
    100% {
		bottom: 6.9rem;
		right: 4rem;
		opacity: 1;
    }
}
.base-splash .logo img {
	width: 9.5rem;
	height: 2.4rem;
}
.base-splash .tit-wrap {
	padding-top: 4.8rem;
}
.base-splash .tit-wrap .h-1 + p {
	margin-top: 1.8rem;
}
.base-splash .highlight:before {
	height: 1.2rem;
}

/* 약관 동의 화면 */
.base-terms .header-wrap {
	padding-top: 5rem;
}
.base-terms .header-wrap .btn-base {
	position: absolute;
	right: 2.4rem;
	min-height: 2rem;
	padding: 0;
}
.base-terms .base-main {
	padding-top: 11rem;
}
.base-terms .base-main .tit-wrap {
	margin-bottom: 1.6rem;
}
.base-terms .base-main .desc {
	font-size: 1.4rem;
	line-height: 2.4rem;
}
.ui-chkgroup .all-chked {
	position: relative;
	display: flex;
	align-items: center;
	width: calc(100% - 2.5rem);
	height: 100%;
	font-size: 1.6rem;
	font-weight: 500;
	z-index: 2;
}
.ui-chkgroup .all-chked .chkbox-label {
	font-weight: 500;
}
.ui-chkgroup .all-chked .ez-chkbox.ez-checked + label {
    border-color: #222;
}
.ui-chkgroup .all-chked .ez-chkbox.ez-checked + label:before {
    background-image: url(../img/common/ico-chkbox-on.svg);
}
.ui-chkgroup .all-chked .chkbox {
	display: block;
	width: 100%;
	min-height: 2.4rem;
	padding-left: 3.2rem;
}
.ui-chkgroup .chklist ul {
	padding-left: .6rem;
	margin-top: 1rem;
}
.ui-chkgroup .chklist li {
	position: relative;
	line-height: 1.5;
}
.ui-chkgroup .chklist li label {
    display: block;
    position: relative;
    padding: 1.1rem 6.6rem 1.1rem 2.4rem;
    color: #666;
    font-size: 1.4rem;
}
.ui-chkgroup .chklist li .chkbox label:before {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: .8rem;
	background-image: url(../img/common/ico-chkbox-s.svg);
	background-size: 100%;
	background-position: center;
}
.ui-chkgroup .chklist li .chkbox input[type=checkbox]:disabled + label:before {
	opacity: 1;
	background-image: url(../img/common/ico-chkbox-s.svg);
}
.ui-chkgroup .chklist li .chkbox input[type=checkbox]:checked + .chkbox-label:before {
	background-image: url(../img/common/ico-chkbox-s-on.svg);	
}
.ui-chkgroup .chklist li .ui-btn {
	position: absolute;
	right: 0.6rem;
	top: 50%;
	min-width: 5rem;
	height: 2.8rem;
	text-align: center;
	padding: .3rem 1.2rem;
	font-size: 1.4rem;
	font-weight: 500;
	background-color: #F3F3F3;
	border-radius: .4rem;
	transform: translateY(-50%);
}
.ui-chkgroup + .form-wrap {
	margin-top: 3.8rem;
}

/* 카카오 인증 */
.kakao-process {
	margin: 2.4rem 0 1.6rem;
	padding: 2.4rem;
	background-color: #F7F7F7;
	border-radius: 1rem;
}
.kakao-process .img-wrap {
	position: relative;
	text-align: center;
}
.kakao-process .img-wrap img {
	width: 5.8rem;
	height: 5.8rem;
}
.kakao-process .img-wrap:before {
	position: absolute;
	left: -.8rem;
	top: 2rem;
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	background: url(../img/common/arr-right.svg) no-repeat;
	background-size: 100%;
	content: '';
}
.kakao-process .img-wrap:first-child:before {
	display: none;
} 
.kakao-process .img-wrap span {
	display: block;
	margin-top: .6rem;
	color: #666;
	font-size: 1.2rem;
}
.form-tel .radio.radio-type-txt input[type=radio] + .radio-label:before {
	width: 7rem;
}

/* LOADING */
.base-loading {
	min-height: 100%;
}
.base-loading .tit-wrap {
	text-align: center;
}
.base-loading .circle-progress-wrap {
	margin-top: 7.7rem;
}
.circle-progress .box{
	position: absolute;
	width:100%;
	height: 100%;
	z-index: 100;
	opacity:0;
	transform: rotate(0);
	transition: transform 0.4s ease-in, opacity 0.4s ease-in;
}
.circle-progress .box .head{
	position: absolute;
	left:50%;
	display: block;
	width:3.4rem;
	height: 3.4rem;
	border-radius: 50%;
	background-color: #fff;
	margin-left: -1.7rem;
	margin-top: -1.3rem;
	box-shadow: .4rem .5rem 2rem rgba(1, 154, 249, 0.26);

}
.circle-progress{
	overflow: visible;
}
.circle-progress-text{
	display: none;
}
.circle-progress .text {
	position: absolute;
	left: 50%;
	bottom: -5.8rem;
	transform: translateX(-50%);
	color: #222;
	font-family: 'Roboto';
	font-weight: 700;
}
.circle-progress .text .percent {
	font-size: 3.2rem;
	font-weight: 700;
}
.circle-progress .text span {
	font-size: 2.4rem;
	font-weight: 400;
}
.emoji{
	position: absolute;
	top:50%;
	left:50%;
	width:11.2rem;
	height: 11.2rem;
	background: url(../img/common/progress-emoji-1.png) center/100% no-repeat;
	transform: translate(-50%, -50%);
}
.circle-progress.n5 .emoji{background-image: url(../img/common/progress-emoji-1.png);}
.circle-progress.n4 .emoji{background-image: url(../img/common/progress-emoji-1.png);}
.circle-progress.n3 .emoji{background-image: url(../img/common/progress-emoji-1.png);}
.circle-progress.n2 .emoji{background-image: url(../img/common/progress-emoji-1.png);}
.circle-progress.n1 .emoji{background-image: url(../img/common/progress-emoji-1.png);}

/* Entry_1~2 상태 선택 */
.state-wrap {
	min-height: 25.4rem;
	margin-bottom: 6rem;
}
/* Entry_3 정보 연동 */
.bg-chkup {
	background: url('../img/mo/bg-chkup.png') center top 32.5rem no-repeat;
	background-size: 18.1rem 13.2rem;
}
.bg-chkup .logo-txt .highlight {
	font-weight: 500 !important;
}
.bg-chkup .logo-txt  + .tit-wrap {
	margin-top: 2rem;
}

/* main (결과 화면) */
.base-wrap.result {
	min-height: 100%;
	background: #019AF9;
}
.base-wrap.result .base-main {
	padding-bottom: 0;
}
.base-wrap.result .tit-wrap {
	padding-bottom: 9.2rem;
	margin-bottom: 0;
	color: #fff;
}
.base-wrap.result .tit-wrap .h-1 {
	color: #fff;
}
.base-wrap.result .tit-wrap img {
	position: relative;
	top: .3rem;
	width: 2.8rem;
	height: auto;
	margin-left: .7rem;
}
.base-wrap.result .content-area {
	margin: 0 -2.4rem;
	padding: 0 2.4rem 3rem;
	background: #F1F8FD url(../img/common/logo-gray.svg) bottom 3rem center no-repeat;
}
.base-wrap.result .content-area .box-area {
	position: relative;
	top: -5.5rem;
}
.base-wrap.result .box-base .ta-c span {
	font-weight: 500;
}
.base-wrap.result .box-wrap {
	margin-top: 3.6rem;
}
.base-wrap.result .box-wrap h2 {
	margin-bottom: 1.2rem;
}

/* 모바일 GA hybrid */
/* 상담 예약 완료 */
.bg-complete {
	background: url('../img/mo/bg-complete.png') center top 28rem no-repeat;
	background-size: 15.2rem 13.4rem;
}

/* 건강검진 분석결과 */
.result .box-wrap .box-base + .box-base {
	margin-top: 1.6rem;
}
.box-base.info dl {
	margin-bottom: .3rem;
}
.box-base.info dl dt {
	margin-bottom: 1.2rem;
}
.box-base.info dl dd {
	font-size: 1.6rem;
}
.box-base.info dl dd span {
	color: #666;
}
.box-base.info dl dd + dd {
	margin-top: 1rem;
}
.progress-wrap .progress-cont {
	min-width: 17.2rem;
	margin: 0 1.2rem;
}
.box-base.info .fx-wrap .txt {
	min-width: 5.4rem;
	color: #222;
	font-size: 1.4rem;
	font-weight: 500;
}
.progress-wrap .fx-wrap .age {
	color: #666;
	font-size: 1.4rem;
}
.box-base.info .fx-wrap .state {
	display: inline-block;
	width: 4rem;
	padding: .2rem 0;	
	color: #fff;
	border-radius: .5rem;
}
.box-base.info .result-txt {
	font-size: 1.4rem;
}
.box-base.info .result-txt img {
	margin-right: 1.6rem;
}
.box-base.list .fx-wrap img {
	margin-right: 1.6rem;
}
.box-base.list .fx-wrap .txt-wrap span {
	display: block;
}
.box-base.list .fx-wrap .txt-wrap strong {
	font-weight: 700;
	letter-spacing: 0;
}
.box-base.list li + li {
	margin-top: 2.4rem;
}
.box-base.list .txt-wrap > .fs-s {
	color: #222;
}
.box-base.disease li {
	width: 100%;
	padding: 2.4rem 0;
	border-bottom: 1px solid #F3F3F3;
}
.box-base.disease li:first-child {
	padding-top: 0;
}
.box-base.disease li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.box-base.disease .img-wrap {
	position: relative;
	width: 5.4rem;
	height: 6.6rem;
	margin-right: 1.2rem;
}
.box-base.disease .img-wrap img {
	width: 4.8rem;
	height: 4.8rem;
}
.box-base.banner .bg-disease {
    background: #fff url(../img/mo/bg-disease-obj.png) right bottom no-repeat;
    background-size: 9.4rem 8.2rem;
}
.box-base.banner .bg-disease {
	color: #222;
	font-size: 1.4rem;
}
.box-base.banner .bg-disease strong {
	display: block;
	margin-top: .2rem;
	font-size: 2rem;
	font-weight: 700;
}
.box-base.banner .bg-disease p {
	margin-top: 1rem;
	font-size: 1.2rem;
}
.img-myhealthage::before{
	content: "";
	display: block;
	width:11.6rem;
	height: 8.6rem;
	background: url(../../resources/img/mo/myhealthage.png) no-repeat 0 0 / 100%;
	position: absolute;
	top:-7.8rem;
	right:1rem;
}
.ui-progressbar{
	width: 100%;
	display: flex;
}
.progress.c1 .ui-progressbar-item{
	background-color: #aaa;
}
.progress.c2 .ui-progressbar-item{
	background-color: #019AF9;
}
.state-1 .ui-progressbar-level{
	background-color: #4792EF;
}
.state-2 .ui-progressbar-level{
	background-color: #01D4E5;
}
.state-3 .ui-progressbar-level{
	background-color: #A1DE52;
}
.state-4 .ui-progressbar-level{
	background-color: #FFD600;
}
.state-5 .ui-progressbar-level{
	background-color: #FF6262;
}
.ui-progressbar-level{
	color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
.ui-progressbar-level,
.box-base.disease .state {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 5.4rem;
	height: 2.4rem;
	padding: .1rem 0 .2rem;	
	border-radius: 1.2rem;
}
.box-base.disease .progress-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	width: calc(100% - 6.6rem);
	min-height: 6.6rem;
}
.box-base.disease .progress-wrap .txt-wrap {
	position: relative;
	width: 100%;
	min-height: 3.4rem;
	padding-bottom: 1rem;
	padding-right: 6rem;
	color: #222;
	word-break: break-all;
}
.box-base.disease .progress-wrap .txt-wrap .fs-xs {
	display: block;
	color: #666;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.7rem;
}

.box-base.disease .progress-wrap .progress-cont {
	margin: 0 0 .8rem;
}
.box-base.disease .progress-wrap .btn-more {
	position: absolute;
	top: 0;
	right: 0;
	width: 5rem;
	height: 2.8rem;
}
.box-base.disease .ui-progressbar {
	display: flex;
	align-items: center;
	min-height: 6.6rem;
}

/* Contents_MW_Main_상세 */
.result-detail {
	position: relative;
	padding: 0 2.4rem 2.4rem;
}
.result-detail .base-wrap.result {
	position: relative;
}
.result-detail .box-base + .box-base  {
	margin-top: 1.8rem;
}
.result-detail .box-base .info span.state {
	display: inline-block;
	width: 5.4rem;
	min-height: 2.4rem;
	border-radius: 1.2rem;
	padding: .2rem 0;
	text-align: center;
}
.result-detail .box-base .info .name em {
	display: block;
	margin-top: .7rem;
	color: #222;
	font-size: 2.6rem;
}
.result-detail .box-base .info img {
	width: 5.2rem;
	height: 5.2rem;
}
.result-detail .box-base .info .step {
	position: relative;
	width: 100%;
	height: 6.4rem;
	margin-top: 1.6rem;
}

.result-detail .box-base .info .step .state {
	position: relative;
	width: calc(100% / 5);
	height: 1rem;
	padding: 0;	
	border-radius: 0;
}
.result-detail .box-base .info .step .state.on:before {
	position: absolute;
	top: -2.4rem;
	left: 50%;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background: url(../img/common/ico-mark.svg) center/100% no-repeat;
	transform: translateX(-50%);
	content: '';
}
.result-detail .box-base .info .step .state:after {
	position: absolute;
	top: -.7rem;
	right: 0;
	display: inline-block;
	height: 2.4rem;
	border: 1px dashed #ddd;
	content: '';
}
.result-detail .box-base .info .step .state:first-child {
	border-radius: .5rem 0 .0 .5rem;
}
.result-detail .box-base .info .step .state:last-child {
	border-radius: 0 .5rem .5rem 0;
}
.result-detail .box-base .info .step .state:last-child:after {
	display: none;
}
.result-detail .box-base .info .step .state span {
	position: absolute;
	left: 50%;
	bottom: -2.7rem;
	color: #222;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.7rem;
	transform: translateX(-50%);
} 
.result-graph {
	margin: 2rem 0;
}
.result-graph .grpah-txt {
	margin-top: 2.8rem;
}
.result-graph .circle-progress {
	margin: 0 auto;
	width: 15.4rem;
	height: 15.4rem;
}
.result-graph .circle-progress .text {
	top: 2.5rem;
	bottom: auto;
	background: #fff;
	width:10.6rem;
	height: 10.6rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:2rem
}
.result-graph .circle-progress .text.up::before{
	content:"";
	display: block;
	position:absolute;
	left: 50%;
	top:2rem;
	width:1.8rem;
	height: 21rem;
	background: url(../../resources/img/common/ico-graph-high.png) no-repeat 50% 0 / 100%;
	transform: translateX(-50%);
}
.result-graph .circle-progress .text.down::before{
	content:"";
	display: block;
	position:absolute;
	left: 50%;
	top:2rem;
	width:1.8rem;
	height: 21rem;
	background: url(../../resources/img/common/ico-graph-low.png) no-repeat 50% 0 / 100%;
	transform: translateX(-50%);
}
.result-graph .circle-progress .text .percent {
	font-size: 3rem;
}
.result-graph .circle-progress .text span {
	position: relative;
	top: -.4rem;
	font-size: 1.6rem;
}
.result-graph .grpah-txt p:nth-child(1) {
	color: #222;
}
.result-graph .grpah-txt p + p {
	margin-top: .8rem;
}
.result-detail .result-graph .graph-caption {
	margin-top: 2.8rem;
	font-size: 1.4rem;
	text-align: center;
}
.result-detail .hr-cont {
	margin: 2.8rem 0;
	background: #F3F3F3;
}
.result-detail .h-3 {
	position: relative;
	display: inline-block;
	padding-right: 3rem;
}
.result-detail .h-3 > img {
	position: absolute;
	top:0;
	right: 0;
	margin-left: .4rem;;
}
.result-detail .disease-chklist {
	margin: 1.6rem 0 1rem;
}
.result-detail .disease-chklist li {
	position: relative;
	font-size: 1.4rem;
	min-height: 2.4rem;
	padding-left: 3.6rem;
}
.result-detail .disease-chklist li:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 1.2rem;
	background: url(../img/common/ico-chkbox-blue.svg) left center/100% no-repeat;
	content: '';
}
.result-detail .disease-chklist li + li {
	margin-top: 1.4rem;
}
.result-detail .btn-wrap {
	margin-top: 2.6rem;
}