@charset "utf-8";

/* font */
@import url(ui.fonts.css); 

/* :focus{outline:1px solid red !important;} */
button:focus *,
a:focus *,
button:focus,
a:focus {
	text-decoration: underline;
}

/* default */
html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #222;;
	font-size: 1.6rem;
    letter-spacing: -0.07rem;
	line-height: 1.5;
	word-break: keep-all;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	/* -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	word-break: keep-all;
}

body,
iframe,
div,
p,
span,
strong,
em,
b,
i,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
button,
a,
label,
table,
tbody,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

dl,
dt,
dd,
ul,
ol,
li {
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	margin: 0;
}

img,
fieldset,
iframe,
button {
	border: 0 none;
	outline: 0;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	border-collapse: collapse;
}

hr {
	border: 0;
	border-top: 1px solid #F2F2F2;
	margin: 4rem 0;
}

em,
u,
cite,
i,
abbr {
	font: inherit;
	text-decoration: none;
}

strong,
b {
	font: inherit;
}

a {
	font: inherit;
	color: var(--link);
	outline-offset: 1px;
	text-decoration: underline;
}

button {
	border: 0 none;
	font: inherit;
	cursor: pointer;
	background: transparent;
	color: inherit;
}

input,
textarea,
select {
	box-sizing: border-box;
	font: inherit, sans-serif;
	outline: 0;
}

label {
	cursor: pointer;
}

caption {
	position: relative !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: -1px 0 0;
}

.a11y-hidden,
legend,
.hidden,
.hide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	color: transparent !important;
	overflow: hidden !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	margin: 0 !important;
	padding: 0 !important;
}

/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
nav,
section,
summary {
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

caption * {
	display: inline-block !important
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	appearance: none;
}

select {
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

select::-ms-expand {
	display: none;
}

/* z index */
.base-skip {
	position: fixed;
	z-index: 2;
}

.base-wrap {
	position: relative;
	z-index: 0;
}

.skip {
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	background-color: #828282;
	color:#BDBDBD;
	width:100%;
	position: fixed;
	left:0;
	top:-5rem;
}
.skip:focus {
	top:0;
}


/* gap */
.pd-n{
	padding:0 !important;
}
.pdt-n {
	padding-top: 0 !important;
}

.pdb-n {
	padding-bottom: 0 !important;
}

.pdtb-n {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.mgb-n {
	margin-bottom: 0 !important;
}

.mgt-n {
	margin-top: 0 !important;
}

.mgt-xxs {
	margin-top: 0.4rem !important;
}

.mgt-xs {
	margin-top: 0.8rem !important;
}

.mgt-s {
	margin-top: 1.6rem !important;
}

.mgt-m {
	margin-top: 2.4rem !important;
}

.mgt-l {
	margin-top: 3.2rem !important;
}

.mgt-xl {
	margin-top: 4rem !important;
}

.mgt-xxl {
	margin-top: 4.8rem !important;
}

.mgt-xxxl {
	margin-top: 5.6rem !important;
}

/* align */
.ta-c {
	text-align: center !important;
}

.ta-l {
	text-align: left !important;
}

.ta-r {
	text-align: right !important;
}

.fx-wrap {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: single;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.fx-wrap+.fx-wrap {
	margin-top: 1.6rem;
}

.fx-wrap.fx-item+.fx-wrap.fx-item {
	margin-top: 0;
}

.fx-wrap.space .fx-item+.fx-item {
	margin-left: .8rem;
}

.fx-wrap[data-wrap="wrap"] {
	flex-wrap: wrap;
}

.fx-wrap[data-dir="row"] {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.fx-wrap[data-dir="rev"] {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.fx-wrap[data-dir="col"] {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
}

.fx-wrap[data-dir="revcol"] {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.fx-line {
	-webkit-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.fx-wrap[data-align="left"] {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.fx-wrap[data-align="right"] {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.fx-wrap[data-align="center"] {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.fx-wrap[data-align="justify"] {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.fx-wrap[data-valign="top"] {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.fx-wrap[data-valign="bottom"] {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.fx-wrap[data-valign="center"] {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fx-wrap[data-valign="stretch"] {
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.fx-wrap[data-valign="baseline"] {
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.fx-item[data-order="1"] {
	-webkit-box-ordinal-group: 1;
	-ms-flex-order: 1;
	order: 1;
}

.fx-item[data-order="2"] {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 2;
	order: 2;
}

.fx-item[data-order="3"] {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 3;
	order: 3;
}

.fx-item[data-order="4"] {
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 4;
	order: 4;
}

.fx-item[data-order="5"] {
	-webkit-box-ordinal-group: 5;
	-ms-flex-order: 5;
	order: 5;
}

.fx-item[data-flex^="0-"] {
	flex: 0 0;
}

.fx-item,
.fx-item[data-flex^="1-"] {
	flex: 1 1;
}

.fx-item[data-flex^="2-"] {
	flex: 2 2;
}

.fx-item[data-flex^="3-"] {
	flex: 3 3;
}

.fx-item[data-flex^="4-"] {
	flex: 4 4;
}

.fx-item[data-flex^="5-"] {
	flex: 5 5;
}

.fx-item[data-flex^="6-"] {
	flex: 6 6;
}

.fx-item[data-flex^="7-"] {
	flex: 7 7;
}

.fx-item[data-flex^="8-"] {
	flex: 8 8;
}

.fx-item[data-flex^="9-"] {
	flex: 9 9;
}

.fx-item[data-flex^="10-"] {
	flex: 10 10;
}

.fx-item[data-flex^="11-"] {
	flex: 11 11;
}

.fx-item[data-flex^="12-"] {
	flex: 12 12;
}

/**/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
}

.bul-care{
	color:#8d8d8d;
	font-size:1.4rem;
	position: relative;
	padding-left:2.8rem;
	line-height: 1.4;
	margin-top:2rem;
}
.bul-care::before{
	content: "";
	display: block;
	position: absolute;
	width:2rem;
	height: 2rem;
	border-radius: 50%;
	top:0;
	left:0;
	background: url(../img/planner/bul_care.png) no-repeat 0 0;
}

/* table */
/* table */
.tbl-base {
	margin: 0;
	width: 100%;
	position: relative;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #e0e0e0;
	font-size: 1.6rem;

}

.tbl-base table {
	width: 100%;
}

.tbl-base table>thead th {
	background: #E0E0E0;
	border-bottom: 1px solid #d1d1d1;
	border-left: 1px solid #d1d1d1;
	padding: .8rem 1rem;
	font-weight: 600;
	word-break: break-all;
	line-height: 1.2;
}

.tbl-base table>tbody>tr>th,
.tbl-base table>tbody>tr>td {
	border-top: 1px solid #d1d1d1;
	border-left: 1px solid #d1d1d1;
	padding: .4rem 1rem;
	font-weight: 300;
	word-break: break-all;
	background: #fff;
	text-align: left;
	line-height: 1.2;
	min-height: 4.3rem;
}

.tbl-base table>tbody>tr:first-child>th,
.tbl-base table>tbody>tr:first-child>td {
	border-top: 0;
}

.tbl-base table>thead>tr>th:first-child,
.tbl-base table>tbody>tr>th:first-child,
.tbl-base table>tbody>tr>td:first-child {
	border-left: 0;
}

.tbl-base table>thead>tr>*[rowspan],
.tbl-base table>tbody>tr>*[rowspan] {
	border-right: 1px solid #d1d1d1;
}

.tbl-base table>tbody>tr>th {
	background: #F2F2F2;
	font-weight: 500;
}

.tbl-base tbody+tbody,
.tbl-base tbody.line-t {
	border-top: 1px solid #d1d1d1;
}

/* type-b */
.fx-wrap .type-b + .type-b {
	margin-left:3rem;
}
.tbl-base.type-b th span{
	font-size: 1.2rem;
	color:#bdbdbd;
	line-height: 1;
}
.tbl-base.type-b tbody th{
	background: #fff;
}
.tbl-base.type-b tbody th[scope="rowgroup"]{
	text-align: center;
	font-weight: 600;
	background: #F2F2F2;
}
.tbl-base.type-b td{
	text-align: center;
}
.tbl-base.type-b [class*="type-"] th[scope="rowgroup"]::before {
	content:"";
	display: block;
	margin:0 auto .5rem;
	width:5rem;
	height:5rem;
	border-radius:50%;
	background:#fff url(../img/planner/ico_organ.png) no-repeat 0 0 / 15rem;
}
.tbl-base.type-b .type-obesity th[scope="rowgroup"]::before {
	background-position:0 0;
}
.tbl-base.type-b .type-growth th[scope="rowgroup"]::before {
	background-position:-5rem 0;
}
.tbl-base.type-b .type-lung th[scope="rowgroup"]::before {
	background-position:-10rem 0;
}
.tbl-base.type-b .type-liver th[scope="rowgroup"]::before {
	background-position:0 -5rem;
}
.tbl-base.type-b .type-pancreas th[scope="rowgroup"]::before {
	background-position:-5rem -5rem;
}
.tbl-base.type-b .type-kidney th[scope="rowgroup"]::before {
	background-position:-10rem -5rem;
}

.trick-th{
	padding:0.8rem 0 0 !important;
}
.trick-th ul{
	width:100%;
	display: flex;
	justify-content: space-between;
	background: #fff;
	border-top:1px solid #d1d1d1;
	margin-top:0.8rem;
}
.trick-th li{
	flex:1;
	text-align: center;
	font-weight: 400;
	padding:0.8rem 0;
}
.trick-th li + li{
	border-left: 1px solid #d1d1d1;
}
.tbl-base.type-b .bar {
	width:100%;
	height:.8rem;
	margin: 1.8rem 0;
	overflow: hidden;
	position: relative;
}
.tbl-base.type-b .bar span{
	display: block;
	width:calc(100% / 5);
	height:100%;
	border-radius:.4rem;
	background: #4792EF;
	margin:0 .8rem;
}
.tbl-base.type-b .bar-wrap{
	position: absolute;
	display: flex;
	width:54.3rem;
	height:100%;
}
.tbl-base.type-b .bar span:nth-child(1){background:#4792EF}
.tbl-base.type-b .bar span:nth-child(2){background:#01D4E5}
.tbl-base.type-b .bar span:nth-child(3){background:#A0DE52}
.tbl-base.type-b .bar span:nth-child(4){background:#FFD600}
.tbl-base.type-b .bar span:nth-child(5){background:#FF8A01}

.tbl-base.type-b .bar.lv-1{width:calc((100% / 5) * 1)}
.tbl-base.type-b .bar.lv-2{width:calc((100% / 5) * 2)}
.tbl-base.type-b .bar.lv-3{width:calc((100% / 5) * 3)}
.tbl-base.type-b .bar.lv-4{width:calc((100% / 5) * 4)}
.tbl-base.type-b .bar.lv-5{width:calc((100% / 5) * 5)}

.flag{
	display: inline-block;
	text-align: center;
	width:6.2rem;
	height:3.2rem;
	background:#ccc;
	color:#fff;
	font-weight: 500;
	padding-top:.6rem;
	border-radius: 1.6rem;
}

.flag.lv-1{background:#4792EF;}
.flag.lv-2{background:#F4C243;}
.flag.lv-3{background:#01D4E5;}
.flag.lv-4{background:#FF6262;}



/* [base] HEADING & Font ---------------------------------------------------------------------------*/
/* heading */

/* text ellipsis ... */
.ellp {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: normal;
}


.base-wrap.checkup-report{
    width:1070px;
    margin:0 auto;
}
.checkup-report .base-header {
    width:100%;
    padding:2rem 0 0;
    border-bottom:1px solid #D5D5D5;
    height:9rem;
}
.checkup-report .base-body {
    padding-top:10.3rem;
}

.group-subject{
    position: relative;
    width:100%;
    height: 21rem;
    background: #019AF9;
    color:#fff;
    border-radius: 1.8rem;
    padding:3.3rem 4rem;
    margin-bottom: 2rem;
}
.group-subject::after{
    content: "";
    display: block;
    position: absolute;
    width:31.8rem;
    height: 18.4rem;
    background: url(../../resources/img/planner/report_illust.png) no-repeat 0 0;
    right:5rem;
    bottom: -1.5rem;
}
.group-subject .tit{
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: -0.14rem;
}
.group-subject .tit em{
    display: inline-block;
    position: relative;
}
.group-subject .tit em::before{
    content:"";
    position:absolute;
    bottom:0.2rem;
    left:0;
    width:calc(100% + .3rem);
    height: 1.1rem;
    border-radius: .2rem;
    background: #fff;
    opacity: 0.22;
}
.group-subject .tit span{
    display: block;
    position: relative;
    z-index: 1;
}
.group-subject .info{
    letter-spacing: -0.04rem;
    font-size:1.4rem;
    margin:1.8rem 0 0 0.2rem;
}
.group-subject .info > div{
    padding-right:1.5rem;
    display: block;
    float: left;
}
.group-subject .info > div + div{
    padding-left:1.5rem;
}
.group-subject .info dd{
    color:#B5E3FF
}
.group-subject .info dd,
.group-subject .info dt{
    display: inline-block;
    padding-right:1.5rem;
    position: relative;
}
.group-subject .info > div + div dt::before{
    content: "";
    position: absolute;
    top:0.6rem; 
    left:-2.2rem;
    width:1px;
    height:1rem;
    background: #fff;
    opacity: 0.3;
}
.group-subject .btn-print{
    color:#222;
    position: absolute;
    top:-5.3rem;
    right:0;
    font-weight: 600;
}

.group-sec{
    position: relative;
    width:100%;
    margin-top:4rem;
}
.group-tit{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.group-tit .tit{
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.11rem;
    margin-bottom:1.3rem;
}
.group-tit .info{
	margin-top: .7rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.group-tit .info .lv{
	position: relative;
	padding-left:2.8rem;
	display: inline-block;
}
.group-tit .info .lv + .lv{
	margin-left:2.4rem;
}
.group-tit .info .lv::before{
	content:"";
	display: block;
	width:2.2rem;
	height: 2.2rem;
	border-radius: 50%;
	background: #ccc;
	position: absolute;
	top:-.1rem;
	left:0;
}
.group-tit .info .lv.n1::before{background:#4792EF;}
.group-tit .info .lv.n2::before{background:#F4C243;}
.group-tit .info .lv.n3::before{background:#01D4E5;}
.group-tit .info .lv.n4::before{background:#FF6262;}
.group-tit .info .lv.n1{color:#4792EF;}
.group-tit .info .lv.n2{color:#F4C243;}
.group-tit .info .lv.n3{color:#01D4E5;}
.group-tit .info .lv.n4{color:#FF6262;}

.group-box{
    position: relative;
    width:100%;
    border:1px solid #dfdfdf;
    border-radius: 1.8rem;
    padding:3.3rem 3rem;
	background:#fff;
}
.graph-age .lv{
	position: absolute;
	z-index: 5;
	top:1rem;
	right: -7rem;
	width: 12rem;
	height: 10rem;
	border: .2rem solid #ccc;
	border-radius: 1.6rem;
	padding-top: 1.6rem;;
}
.graph-age .lv > *{
	display: block;
	text-align: center;
	width:100%;
}
.graph-age .lv span{
	font-size: 1.6rem;
	font-weight: 600;
}
.graph-age .lv strong{
	font-size: 3.2rem;
	line-height: 1.1;
	font-weight: 600;
}
.graph-age .lv.n1{border-color:#4792EF;}
.graph-age .lv.n2{border-color:#F4C243;}
.graph-age .lv.n3{border-color:#01D4E5;}
.graph-age .lv.n4{border-color:#FF6262;}
.graph-age .lv.n1 strong{color:#4792EF;}
.graph-age .lv.n2 strong{color:#F4C243;}
.graph-age .lv.n3 strong{color:#01D4E5;}
.graph-age .lv.n4 strong{color:#FF6262;}
.graph-age{
	height: 33rem;
}
.graph-age.group-box{
	padding:1rem 0 0;

}
.graph-age-bg{
	position: relative;
	width:88.8rem;
	height: 30rem;
	background: url(../img/planner/graph_bg.png) no-repeat 0 0;
	margin:0 auto;
	padding:0 4.8rem;
}

.graph-age-bg .graph-age-txt{
	width:100%;
	height: 100%;
	position: relative;
}
.graph-age-p{
	width:8.7rem;
	height:6.1rem;
	background: url(../img/planner/graph_person.png) no-repeat 0 100%;
	position: absolute;
	bottom:3.7rem;
	left:0;
	margin-left:-4.4rem;
	text-align: center;
	font-weight: 400;
	color: #fff;
	padding:1.6rem 0 0 ;
	z-index: 2;
	transition: left .4s ease-out;
}
.graph-age-item{
	width:8.7rem;
	height:9.9rem;
	background: url(../img/planner/graph_person.png) no-repeat 0 0;
	position: absolute;
	bottom:9.8rem;
	left:0;
	margin-left:-4.4rem;
	text-align: center;
	font-weight: 400;
	color: #fff;
	padding:1.6rem 0 0 ;
	z-index: 2;
	transition: left .4s ease-out;
}
.graph-age-item .age-txt{
	font-size: 1.4rem;
	font-weight: 400;
}
.graph-age-item .age-n{
	margin-top: -.8rem;
}
.graph-age-item .age-n strong{
	font-size: 3rem;
	font-weight: 600;
}
.graph-age-item.n2{
	background: url(../img/planner/graph_person_life.png) no-repeat 0 0;
	height:19.9rem;
	z-index: 1;
}
.bg-p,
.graph-age-line{
	width:100%;
	position: relative;
	bottom:0;
	margin-top:0rem;
}
.graph-age-p.n2{
	background: url(../img/planner/graph_person_life.png) no-repeat 0 100%;
	height:6.1rem;
	z-index: 3;
}
.graph-age-b{
	position: absolute;
	bottom: 3.1rem;
	width: 0;
	height: 0.2rem;
	background: #019af9;
	transition: left .4s ease-out, width .7s ease-out;
	transition-delay: .5s;
}
.bg-p span{
	display: block;
	width:2.6rem;
	height: 5.9rem;
	background: url(../img/planner/graph_bg2.png) no-repeat 0 0;
	position: absolute;
	bottom: 3.9rem;
	left:0;
	margin-left:-1.3rem;
}
.bg-p span:nth-child(1){left:0%}
.bg-p span:nth-child(2){left:10%}
.bg-p span:nth-child(3){left:20%}
.bg-p span:nth-child(4){left:30%}
.bg-p span:nth-child(5){left:40%}
.bg-p span:nth-child(6){left:50%}
.bg-p span:nth-child(7){left:60%}
.bg-p span:nth-child(8){left:70%}
.bg-p span:nth-child(9){left:80%}
.bg-p span:nth-child(10){left:90%}
.bg-p span:nth-child(11){left:100%}

.list-dlico{
	width:80%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-dlico > div{
	margin:0 3rem;
	position: relative;
	padding-left: 9rem;
}
.list-dlico dt{
	font-size: 1.4rem;
	font-weight: 500;
}
.list-dlico dd{
	font-size: 1.8rem;
	font-weight: 700;
	COLOR:#019AF9;
}
.list-dlico dt::before{
	content: "";
	display: block;
	width: 7.6rem;
	height: 7.6rem;
	border-radius: 50%;
	background: #EAF7FF url(../img/planner/icon_analysis.png) no-repeat 0 0 / 15.2rem;
	position: absolute;
	left:0;
	top:-1.3rem;
}
.btn-wrap{
	width:100%;
	text-align: center;
	padding: 6rem 0;
}
.btn-base.print{
	width:44rem;
}
.btn-base {
	
	background: #019AF9;
	color:#fff;
	height: 6rem;
	font-size:1.8rem;
	font-weight:500;
	border-radius: 1rem;
	padding:0 2rem
}

@media print {
	body{
		font-size: 1.4rem;
		-webkit-print-color-adjust:exact;
	}
	.group-subject{margin-bottom: 0.6rem;}
	.btn-print,
	.btn-wrap,
	.base-header{display:none !important;}
	.checkup-report .base-body{padding-top: 0 !important;}
	.group-sec{margin-top:2rem}
	/* .base-wrap.checkup-report{width:100%;} */
}